@import './reuse';
@import './font';
@import './reset';
@import './spaces';

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

html, body, .app, #root, main {
  height: 100%;
}

:root {
  --primary-color: #333333;
}
