.collection-thumb {
  .name {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .intro {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
    
    &-thumb {
      min-width: 100px;
      min-height: 100px;
      position: relative;
      
      img {
        border-radius: 15px;
        border: 1px solid #ddd;
      }
    }

    &-details {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  @media (max-width: 767.98px) {
    &:last-of-type {
      border-bottom: 0;
    }
  }
}