.collection-thumb {
  .intro {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
    
    .thumb {
      min-width: 100px;
      min-height: 100px;
      position: relative;
      
      img {
        border-radius: 15px;
        border: 1px solid #ddd;
      }
    }

    .details {
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-direction: column;
      
      &-name {
        font-size: 20px;
      }

      &-tracks-count {
        color: #666;
      }
    }
  }

  .content {
    &-listen-on {
      a {
        display: inline-block;
        padding: 8px 12px;
        border-radius: 5px;
        color: #c94253;
        border: 1px solid #c94253;
        background-color: #fff;
          span {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }

    &-tracks {
      display: grid;
      grid-gap: 20px;
    }
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;

    .intro {
      display: flex;
      flex-direction: column;

      .thumb {
        img {
          width: 100%;
        }
      }

      .details {
        &-track-counts {
          color: #666;
          margin-top: 10px;
        }
      }
    }

    .content {
      .details {
        &-name {
          font-size: 32px;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    &:last-of-type {
      border-bottom: 0;
    }
  }
}