.song-thumb {
  display: grid;
  grid-template-columns: 100px 1fr 40px;
  grid-gap: 20px;

  .thumb {
    min-width: 100px;
    min-height: 100px;
    position: relative;

    .player {
      border-radius: 15px;
      position: absolute;
      background-color: rgba(0,0,0,0.3);
      width: 102px;
      height: 102px;
      color: #ff8a2b;
    }
    
    img {
      border-radius: 15px;
      border: 1px solid #ddd;
    }
  }

  .name {
    color: #444;
    font-size: 16px;
  }

  .artist-name a {
    color: #666;
  }

  .time {
    color: #666;
  }
}