.track-thumb {
  display: grid;
  grid-template-columns: 60px 1fr 40px;
  grid-gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;

  .thumb {
    min-width: 60px;
    min-height: 60px;
    position: relative;

    .player {
      border-radius: 15px;
      position: absolute;
      background-color: rgba(255,255,255,0.8);
      width: 62px;
      height: 62px;
      color: #ff6868;

      span {
        position: absolute;
        z-index: 2;
      }
      svg.circular-chart {
        z-index: 1;
        position: absolute;
        top: -3px;
      }
    }
    
    img {
      border-radius: 15px;
      border: 1px solid #ddd;
    }
  }

  .name {
    color: #444;
    font-size: 16px;
  }

  .artist-name {
    color: #999;
  }

  .time {
    color: #666;
  }

  &.played {
    .artist-name, .name, .time {
      color: #ff6868;
    }
  }


  @media (max-width: 767.98px) {
    &:last-of-type {
      border-bottom: 0;
    }
  }
}