.artist {
  &-thumb {
    height: 200px;
    background-size: cover;
    background-position: center center;
  }

  &-content {
    padding: 20px;

    h1 {
      font-size: 42px;
    }
  }
  
  &-description {
    font-size: 22px;
    color: #666;
  }
}