.artist {
  &-background {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: var(--color-primary);

    @media (min-width: 1200px) {
      height: 400px;
    }
  }

  &-content {
    padding: 20px;

    h1 {
      font-size: 42px;
    }
  }

  .artist-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 5fr 3fr;
    }
  }
  
  &-description {
    p {
      font-size: 22px;
      color: #666;
    }
  }

  &-details {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;

    h4 {
      text-transform: uppercase;
      color: #999;
    }
  
    p {
      font-size: 18px;
    }
  }
}