.introduction {

  h1 {
    font-size: 20px;
  }
  
  &, &-body {
    height: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 450px;
    }
  }

  &-body {
    padding: 0 40px;
    text-align: center;
  }
}