a, button, input, select, textarea, div {
  outline: none;
  text-decoration: none; }

h1, h2, h3, h4, h5, p {
  margin: 0px;
  padding: 0px; }

input, textarea, button {
  appearance: none !important; }

input[type='number'] {
  appearance: textfield; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pointer {
  cursor: pointer; }

.hide {
  display: none; }

.mg-bottom-10 {
  margin-bottom: 10px; }

.mg-bottom-20 {
  margin-bottom: 20px; }

.mg-bottom-40 {
  margin-bottom: 40px; }

.pd-bottom-10 {
  padding-bottom: 10px; }

.pd-bottom-20 {
  padding-bottom: 20px; }

.pd-bottom-40 {
  padding-bottom: 40px; }

.mg-top-10 {
  margin-top: 10px; }

.mg-top-20 {
  margin-top: 20px; }

.mg-top-40 {
  margin-top: 40px; }

.pd-top-10 {
  padding-top: 10px; }

.pd-top-20 {
  padding-top: 20px; }

.pd-top-30 {
  padding-top: 30px; }

.pd-top-40 {
  padding-top: 40px; }

.mg-pd-bottom-disabled-last:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0; }

.mg-pd-top-disabled-last:last-of-type {
  padding-top: 0;
  margin-top: 0; }

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #666; }
  h2 small {
    font-size: 12px;
    margin-left: 10px; }

a, a:link {
  color: #333; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-white {
  color: #fff; }

.text-xs {
  font-size: 11px;
  color: #999; }

.text-sm {
  font-size: 14px;
  color: #999; }

.label, label {
  margin-bottom: 10px;
  font-weight: 200;
  color: #888;
  width: 100%;
  display: block; }

.required {
  color: red; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px; }

html, body, .app, #root, main {
  height: 100%;
  overflow-x: hidden; }

:root {
  --color-primary: #333333; }

.flex, .loading {
  display: flex; }
  .flex.flex-center, .loading {
    justify-content: center;
    align-items: center; }
  .flex.flex-center-start, .flex-center-start.loading {
    justify-content: center;
    align-items: start; }
  .flex.flex-end-center, .flex-end-center.loading {
    justify-content: flex-end;
    align-items: center; }
  .flex.flex-around-center, .flex-around-center.loading {
    justify-content: space-around;
    align-items: center; }
  .flex.flex-between-start, .flex-between-start.loading {
    justify-content: space-between;
    align-items: flex-start; }
  .flex.flex-between-center, .flex-between-center.loading {
    justify-content: space-between;
    align-items: center; }
  .flex.flex-start-column, .flex-start-column.loading {
    justify-content: start;
    flex-direction: column; }
  .flex.flex-evenly-center-column, .flex-evenly-center-column.loading {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
  .flex.flex-center-column, .flex-center-column.loading {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .flex.flex-column-center, .flex-column-center.loading {
    flex-direction: column;
    justify-content: center; }

.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  box-sizing: border-box;
  grid-auto-flow: row;
  grid-auto-rows: min-content; }
  .grid.grid-lg-1 {
    grid-template-columns: 1fr; }
  .grid.grid-lg-2 {
    grid-template-columns: repeat(2, 1fr); }
  .grid.grid-lg-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid.grid-lg-4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid.grid-lg-5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid.grid-lg-6 {
    grid-template-columns: repeat(6, 1fr); }
  .grid.grid-lg-7 {
    grid-template-columns: repeat(7, 1fr); }
  .grid.grid-lg-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }
  @media screen and (max-width: 767.98px) {
    .grid.grid-xs-1 {
      grid-template-columns: 1fr; }
    .grid.grid-xs-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.grid-xs-3 {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .grid.grid-sm-1 {
      grid-template-columns: 1fr; }
    .grid.grid-sm-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.grid-sm-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.grid-sm-4 {
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .grid.grid-md-1 {
      grid-template-columns: 1fr; }
    .grid.grid-md-2 {
      grid-template-columns: repeat(2, 1fr); }
    .grid.grid-md-3 {
      grid-template-columns: repeat(3, 1fr); }
    .grid.grid-md-4 {
      grid-template-columns: repeat(4, 1fr); } }

@media (max-width: 575.98px) {
  .hide-xs {
    display: none; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .hide-sm {
    display: none; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .hide-md {
    display: none; } }

@media (min-width: 992px) {
  .hide-lg {
    display: none; } }

.container {
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .container {
      width: 1200px; } }

.app {
  display: grid;
  grid-template-rows: auto 1fr 40px; }
  .app .introduction h1 {
    font-size: 20px; }
  .app .introduction, .app .introduction-body {
    height: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .app .introduction, .app .introduction-body {
        max-width: 450px; } }
  .app .introduction-body {
    padding: 0 40px;
    text-align: center; }
  .app .results {
    padding: 20px; }
  .app .artist-thumb {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-color: var(--color-primary); }
    @media (min-width: 1200px) {
      .app .artist-thumb {
        height: 400px; } }
  .app .artist-content {
    padding: 20px; }
    .app .artist-content h1 {
      font-size: 42px; }
  .app .artist .artist-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px; }
    @media (min-width: 768px) {
      .app .artist .artist-info {
        grid-template-columns: 5fr 3fr; } }
  .app .artist-description p {
    font-size: 22px;
    color: #666; }
  .app .artist-details {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    .app .artist-details h4 {
      text-transform: uppercase;
      color: #999; }
    .app .artist-details p {
      font-size: 18px; }

footer {
  text-align: center;
  color: #666666;
  font-size: 12px;
  height: 100%; }

header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center; }

.input-default {
  position: relative; }
  .input-default-field {
    position: relative;
    box-sizing: border-box;
    appearance: none;
    border: 1px solid #ddd;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    width: 100%; }
    .input-default-field:disabled {
      cursor: not-allowed;
      opacity: 0.5; }

.input-error {
  border: 1px solid red; }
  .input-error-message {
    width: 100%;
    display: block; }

.input-error-message {
  margin-top: 5px;
  color: red; }

.btn {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #eee;
  color: #666; }
  .btn span {
    margin-right: 5px; }
  .btn.btn-primary {
    color: #fff;
    background-color: var(--color-primary); }

.loading {
  top: 0px;
  bottom: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10; }

.song-thumb {
  display: grid;
  grid-template-columns: 60px 1fr 40px;
  grid-gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  .song-thumb .thumb {
    min-width: 60px;
    min-height: 60px;
    position: relative; }
    .song-thumb .thumb .player {
      border-radius: 15px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      width: 62px;
      height: 62px;
      color: #ff6868; }
    .song-thumb .thumb img {
      border-radius: 15px;
      border: 1px solid #ddd; }
  .song-thumb .name {
    color: #444;
    font-size: 16px; }
  .song-thumb .artist-name {
    color: #999; }
  .song-thumb .time {
    color: #666; }
  .song-thumb.played .artist-name, .song-thumb.played .name, .song-thumb.played .time {
    color: #ff6868; }
  @media (max-width: 767.98px) {
    .song-thumb:last-of-type {
      border-bottom: 0; } }

.collection-thumb .intro {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px; }
  .collection-thumb .intro .thumb {
    min-width: 100px;
    min-height: 100px;
    position: relative; }
    .collection-thumb .intro .thumb img {
      border-radius: 15px;
      border: 1px solid #ddd; }
  .collection-thumb .intro .details {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column; }
    .collection-thumb .intro .details-name {
      font-size: 20px; }
    .collection-thumb .intro .details-tracks-count {
      color: #666; }

.collection-thumb .content-listen-on a {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  color: #c94253;
  border: 1px solid #c94253;
  background-color: #fff; }
  .collection-thumb .content-listen-on a span {
    margin-left: 5px;
    margin-right: 0; }

.collection-thumb .content-tracks {
  display: grid;
  grid-gap: 20px; }

.collection-thumb .content-editors-note {
  font-size: 18px; }

@media (min-width: 768px) {
  .collection-thumb {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px; }
    .collection-thumb .intro {
      display: flex;
      flex-direction: column; }
      .collection-thumb .intro .thumb img {
        width: 100%; }
      .collection-thumb .intro .details-track-counts {
        color: #666;
        margin-top: 10px; }
    .collection-thumb .content .details-name {
      font-size: 32px; }
    .collection-thumb .content-editors-note {
      font-size: 14px;
      color: #666; } }

@media (max-width: 767.98px) {
  .collection-thumb:last-of-type {
    border-bottom: 0; } }
