.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.pointer {
  cursor: pointer; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px; }

html, body, .app, #root {
  height: 100%;
  background-color: #fff; }

:root {
  --primary-color: #333333; }

footer {
  text-align: center;
  color: #666666;
  font-size: 12px; }

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center; }

.app {
  display: grid;
  grid-template-rows: auto 1fr 40px; }
